    <head>
        <base href="/">
    </head>
    <div class="nav navbar navbar navbar-default">
      <div class="container">
        <!--<a href="../" class="navbar-brand">Worker Founder</a>-->
        <div class="header">Worker Founder</div> 
        <!--
            
        -->
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav">
            <li>
                <a routerLink="Workers">Workers</a>
                <a routerLink="EditWorker">Add Worker</a>
                <a routerLink="WorkDemand">WorkDemands</a>
            </li>
            
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
        <router-outlet></router-outlet>
    </div>


    